.main {
    width: 90%;
    height: 700px;
}


/* header section  */
header {
    display: flex;
    align-items: center;
}

.headerImg {
    width:100%;
    height: 460px;
    position: relative;
}

.headerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerImg h1 {
  color: aliceblue;
  position: absolute;
  top: 29%;
  font-size: 70px;
  font-weight: 400;
  left: 36%;
  letter-spacing: 3px;
}
/* Main section  */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.firstBlock {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color : antiquewhite;
}

.firstBlock img{
  width:46%;
}

.firstBlock .text {
  width:40%;
  line-height: 22px;
}

.secondBlock {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color : gainsboro;
}

.secondBlock img{
  width:46%;
}

.secondBlock .text {
  width:40%;
  line-height: 22px;
}

.thirdBlock {
  width: 100%;
  height: 500px;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color : ivory;;
}

.thirdBlock img{
  width:46%;
}

.thirdBlock .text {
  width:40%;
  line-height: 22px;
}

/* Footer section  */
footer {
  width: 100%;
  height: 100px;
  background-color: cadetblue;
}

blockquote {
    width: 85%;
    font-size: 25px;
    position: relative;
    display: inline-block;
    padding: 30px 30px 20px 30px;
    quotes: "“" "”" "‘" "’";
  }
  figcaption{
    position: relative;
    font-size: 20px;
    text-align: right;
  }

  blockquote::before {
    content: open-quote;
  }
  blockquote::after {
    content: close-quote;
  }
  
  @media(max-width:786px){
    .headerImg h1 {
      font-size: 60px;
      left: 30%;
    }

    .firstBlockter{
        height: 350px;
    }
    .secondBlock{
      height: 350px;
    }
    .thirdBlock{
      height: 350px;
  }
  blockquote{
    width: 60%;
    font-size: 19px;
    padding: 20px 20px 10px 20px;
  }
  figcaption{
    font-size: 19px;
  }
}
  
  
  