.fixed {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    background: aliceblue;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: center;;
    justify-content: space-around;
    box-shadow: 0px 8px 8px -6px rgb(0 0 0 / 50%);
    color : black;
}


.logoTitle {
    width: 40%;
}

.logoTitle img {
    width:20px;
    height: 20px;
    margin-right: 2px;
}

.logoTitle span {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 19px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

li {
    margin-right: 20px;
}

li:hover {
   color: #C7B198;
}

li:active {
    color : black;
}





