.addMenu {
    width:70%;
}

.updateMenu {
  width:100%;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
  width: 90%;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}


.actions {
  margin-top: 1rem;
  text-align: center;
}

.menuItem button {
  font: 12px !important;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}

.menuItem button:hover,
.menuItem button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}


.list {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    gap: 12px;
}

.menuItem {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  grid-gap: 12px 0;
}
